<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:c="http://www.springframework.org/schema/c"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:hdp="http://www.springframework.org/schema/hadoop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
  
    <!-- 定义数据源Bean-->  
    <bean id="sqliteDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"  
            destroy-method="close">  
            <property name="driverClass" value="org.sqlite.JDBC" />  
            <property name="jdbcUrl" value="jdbc:sqlite:${centerAdapter.root}/WEB-INF/config/sqllite/dbConfig.db" />  
            <property name="initialPoolSize" value="5" />  
            <property name="minPoolSize" value="1" />  
            <property name="maxPoolSize" value="10" />  
            <property name="maxStatements" value="100" />  
            <property name="maxIdleTime" value="3600" />  
            <property name="acquireIncrement" value="2" />  
            <property name="acquireRetryAttempts" value="10" />  
            <property name="acquireRetryDelay" value="600" />  
            <property name="testConnectionOnCheckin" value="true" />  
            <property name="idleConnectionTestPeriod" value="1200" />  
            <property name="checkoutTimeout" value="10000" />  
    </bean>    
      
    <bean id="jdbcTemplateSecond" class="org.springframework.jdbc.core.JdbcTemplate">  
        <property name="dataSource" ref="sqliteDataSource"></property>  
    </bean>  
    
    <bean id="sqliteDao" class="com.bsoft.dao.sqlite.impl.SqliteDAOImpl">
        <property name="jdbcTemplate" ref="jdbcTemplateSecond"></property>
    </bean>
</beans>